.basicText {
    -fx-font-family: "Ubuntu";
    -fx-font-size: 24px;
    -fx-text-fill: #78C2E2;
    -fx-font-weight: bold;
}

.basicTextGreen {
    -fx-font-family: "Ubuntu";
    -fx-font-size: 24px;
    -fx-text-fill: #78e2a2;
    -fx-font-weight: bold;
}

.basicTextWhite {
    -fx-font-family: "Ubuntu";
    -fx-font-size: 24px;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
}

.basicTextGrey {
    -fx-font-family: "Ubuntu";
    -fx-font-size: 24px;
    -fx-text-fill: #434343;
    -fx-font-weight: bold;
}

.smallText {
    -fx-font-family: "Ubuntu";
    -fx-font-size: 20px;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
}

.bigText {
    -fx-font-family: "Ubuntu";
    -fx-font-size: 30px;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
}

.basicHeading {
    -fx-font-family: "Ubuntu";
    -fx-font-size: 32px;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
}

.smallHeading {
    -fx-font-family: "Ubuntu";
    -fx-font-size: 24px;
    -fx-text-fill: #78C2E2;
    -fx-font-weight: bold;
}

.bigHeading {
    -fx-font-family: "Ubuntu";
    -fx-font-size: 48px;
    -fx-text-fill: #78e2a2;
    -fx-font-weight: bold;
}

.background {
    -fx-background-color: #434343;
}

.basicButton {
    -fx-font-family: "Ubuntu";
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-background-color: #78C2E2;
    -fx-text-fill: white;
}

.lineChart {
    -fx-background-color: white;
}